exportPattern("^[[:alpha:]]+")
import("ggplot2")
import("svglite")
import("ggExtra")
import("ggtext")
import("GenomicRanges")
import("GenomicFeatures")
import("tidyverse")
import("bsseq")
import("comethyl")
import("PQLseq")
import("foreach")
import("parallel")
import("Biostrings")
import("patchwork")
import("matrixStats")
import("IMAGE")
